/target
.vscode/
.idea/
*.sqld

libsql-server/testrollbackrestore/**
libsql-server/testbackuprestore/**
libsql-sqlite3/**.o.tmp
/libsql-ffi/bundled/SQLite3MultipleCiphers/build/**
# will be copied from bundled/src
/libsql-ffi/bundled/SQLite3MultipleCiphers/src/sqlite3.c

/bindings/c/generated
/bindings/c/**.xcframework
/bindings/**/.DS_Store


### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/
